# env
.venv/
__pycache__/

# raw data (ignore everything here)
data/raw/*

# processed data (keep CSVs + README, ignore big intermediates if needed)
!data/processed/
!data/processed/*.csv
!data/processed/README.md
data/processed/*.parquet  

# notebooks
*.ipynb_checkpoints/